@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.repos-list {
  max-width: 100%;
  padding-left: 0;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  list-style: none;
}

.repos-list__item {
  flex: 0 0 300px;
  margin: 8px 2px;

  overflow: hidden;
}

.repo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  height: 100%;
  padding: 12px;

  border: solid 1px #d1d5da;

  font-size: 14px;
  color: #586069;
}

.repo__name {
  margin: 0;
  font-size: 16px;
}

.repo__description {
  margin-top: 8px;
  margin-bottom: 16px;
}

.repo__details {
  margin: 0;
}

.repo__language-color {
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
  height: 12px;
  padding-top: 1px;
  width: 12px;
}

.repo__language {
  margin-right: 12px;
}
